<app-header></app-header>
<main>
    <section class="section-1">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Welcome to MySpaceDreamer</h1>
                </div>
            </div>
        </div>
    </section>
        <app-image-card-section></app-image-card-section>       
    <section class="section-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center">What is MySpaceDreamer?</h2>
                    <p class="text-center">MySpaceDreamer is a place where you can create your own space and share it with others.</p>
                </div>
            </div>
        </div>
    </section>
  <router-outlet></router-outlet>
</main>