<header>
    <nav class="nav-header">
        <div class="header__logo">
        <a routerLink="/home">
            <img src="../../../assets/images/interstellar1.png" alt="logo" />
        </a>
        </div>
        <div class="header__menu">
        <ul>
            <li>
            <a class="menu-btn-link" routerLink="/about">About</a>
            </li>
            <li>
            <a class="menu-btn-link" routerLink="/workspace">Workspace</a>
            </li>
            <li>
            <a class="menu-btn-link" routerLink="/contact">Contact</a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="section-search-button">
        <input class="search-area-zone" type="text" placeholder="Search" />
        <button class="btn btn-primary h-54" type="button">
            <i class="fa-solid fa-magnifying-glass fa-lg white"></i>
        </button>
    </div>
</header>